@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    max-width:150vw;
}

.nava{
    font-family: "Homemade Apple";
    font-size: 25px;
}

.nav-bar{
    background-color:#424242;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    padding: 0.5rem 1rem;;
    width: 100vw;
    align-items: center;
    font-size: 25px;

}
.nav-bar a{
    color: inherit;
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
}

.nav-bar ul{
    display: flex;
    flex-flow: nowrap;
    list-style: none;
}

.nav-bar li{
    padding: 0 10px;
    color: #a29d9d;
    padding: 10px;
}
.nav-bar li:hover, li:focus, li:active{
    color:aliceblue ;
}
.login{
    position: relative;
}
.log{
    position: absolute;
    top: 55px;
    left:-2px;
    background-color: rgb(234, 239, 241);
    padding: 15px 25px;
    z-index: 1;
    visibility: hidden;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.login:hover .log{
    visibility: visible;
}

img{
    width: 550px;
    height: 100%;
    object-fit: contain;

}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
#home{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    min-height:500px;
    margin: 30px auto;
    justify-content: left;
    margin-left: 10%;

}

.connect h1{
    font-size: 3rem;
}
.connect h2{
    font-size: 3.7rem;
}

.connect1 {
    margin-top: 35px;
    font-size: 20px;
    /* line-height: 3rem; */
}
.connect{
    color: #282727;
    font-size: 23px;
}
input{
    font-size: inherit;
    padding: 10px 13px;
    padding-left: 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 20px;
}
input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);

}
.connect input{
    margin-right: 30px;
}
button{
    font-size: 20px;
    font-weight: 400;
    background-color: #6c757d;
    color: rgb(249, 247, 247);
    border:  #6c757d;
    padding: 7px 17px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.5;
}
button:hover{
    filter:brightness(90%)
}
.features{
    background-color: #e7eeed;
    /* margin:10px auto; */
    padding:10px;
    padding-bottom: 70px;
}
h3{
    font-size: 40px;
    text-align: center;
    padding:40px
}
h4{
    font-size: 2rem;
    text-align: center;
    font-weight: 300px;
    padding:  16px ;
    color: black;

}
.boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
    max-width: 1200px;
    gap: 1em;
    place-content:center;
    margin:0 auto;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #fff;
    padding: 48px;
    min-width: 350px;
    max-width: 400px;
    height:310px;
    box-shadow: 5px 5px 2px 5px rgba(168, 167, 167, 0.1);
    border-radius: 15px;
    border: 1px solid rgb(225, 220, 220);
    margin:4% auto ;
    font-size:1.3rem;
    color: black;
    line-height:1.4;
    transition: transform 0.2s linear;
}
.box:hover{
    transform: scale(1.1)
}
.contact{
    margin:10px auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1400px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.contact h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
}
.contact_outer {
    display: flex;
    gap: 34px;
    width:100%;
    justify-content: center;
    /* flex-flow:column wrap; */
}
.inner_contact{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inner_contact input{
    margin-bottom: 20px;
}
.contact input{
    width:100%;
} 
textarea{
    padding:10px;
    font-size:17px;
    width:100%;
    border: 1px solid #ced4da;
    display: grid;
    border-radius: 8px;
    grid-template-columns: 1fr;
}
textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.contact button{
    margin-top:30px
}

.footer{
    background-color: #424242;
    color: rgb(226, 223, 223);
    height: 140px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.7;
    align-items: center;
}



@media only screen and (max-width:1200px) {
    
    #home{
        display: grid;
        grid-template-columns: 1fr;
        margin-left:50px;
        margin-right:30%
    }
    img{
        width:70%
    }
    .connect h1{
        font-size: 2.5rem;
        font-weight: 400;
    }
    
     .connect h2{
        font-size: 3.3rem;
        font-weight: 600;
    } 

    .connect p{
        font-size: 17px;
    }
    .connect1 label{
        font-size: 15px;
    }
    input{
        font-size: 1rem;
        padding: 10px 13px;
        padding-left: 14px;
        
    }
    button{
        font-size: 1rem;
        padding: 7px 13px;
    }
    
}

@media only screen and (max-width:830px) {
    nav li{
        display:none
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding:10px 50px
    }
    nav .login{
        display: unset;
        color: #fff;
        border: 1px solid rgb(100, 97, 97);
        padding:0.1px 15px 10px;
        border-radius: 4px;
        font-size: 1.4rem;
    }
    #home{
        margin: 70px auto ;
        text-align:center
    }
    .connect{
        width: 100%;
    }

    img{
        margin:0 auto;

    }
    
    input{
        margin: 2px  0;
    }

    .contact{
       max-width: 600px;
    }
    .contact_outer {
        gap: 0px;
        /* width:80%; */
        justify-content: center;
        flex-flow:column wrap;
        
    }
    
    .connect h2{
        font-size: 2.1rem;
        font-weight: 400;
    }
    
} 
@media only screen and (max-width:376px) {
    .nava{
        font-size: 20px;
    }
    
    .nav-bar{
        justify-content: space-between;
        padding: 0.5rem 1rem;
        font-size: 20px;
    
    }
    nav .login{
        padding:5px 15px;
        /* padding-right:10px */
    }
    .log{
        top: 55px;
        left:-15px;
        padding: 10px 15px;
    }
    body{
        color: black;
    }

    .connect h1{
        font-size: 2.4rem;
        font-weight: 300;
    }
    .connect h2{
        font-size: 1.8rem;
        font-weight: 300;
    }
    .connect1 {
        font-size: 1rem;
        margin-top: 15px;
    }
    #home{
        font-size: 1.2rem;
        color: black;
        align-items: center;
        margin: 0 auto;
    }
    input{
        padding: 9px 13px;
        border-radius: 8px;
        font-size: 17px;
        width: 60%;
    }
    button{
        font-size: 17px;
        font-weight: 100;
        padding: 5px 12px;
        line-height: 1.6;
    }
    
    h3{
        font-size: 33px;
        padding:10px;
        padding-bottom:30px
    }
    h4{
        font-size: 2rem;
        text-align: center;
        font-weight: 300px;
        padding:  16px ;
        color: black;
    
    }
    
    .box{
        min-width: 300px;
        max-width: 320px;
        height:250px;
        font-size:1rem;
        line-height:1.5;
    }
    .contact{
        margin:10px auto;
        padding: 0 15px;
        font-size: 1rem;
    }
    .contact h2{
        text-align: center;
        padding: 10px;
        font-size: 1.7rem;
        margin-bottom: 20px;
    }
    
    .inner_contact input{
        margin-bottom: 5px;
    }
    .contact input{
        width:100%;
    } 
    textarea{
        height: 280px;
    }
    .contact button{
        margin-top:20px;
        font-size:1rem
    }
    .footer{
        height: 100px;
        margin-top: 30px;
        font-size: 0.7rem;

    }
}